<section class="product-form-page">
  <div class="product-form-card">
    <h1>Créer un produit</h1>
    <p>Ajoutez un produit complet avec image, prix, catégorie et stock.</p>

    <form (ngSubmit)="submit()" class="product-form">
      <label>
        Nom du produit
        <input
          type="text"
          placeholder="Ex : Souris gaming"
          [(ngModel)]="product.name"
          name="name"
          required
        />
      </label>

      <label>
        Description
        <textarea
          placeholder="Décrivez le produit simplement"
          [(ngModel)]="product.description"
          name="description"
          required
        ></textarea>
      </label>

      <label>
        Prix
        <input
          type="number"
          placeholder="29.99"
          [(ngModel)]="product.price"
          name="price"
          min="0"
          required
        />
      </label>

      <label>
        Catégorie
        <input
          type="text"
          placeholder="electronics, clothing, gaming..."
          [(ngModel)]="product.category"
          name="category"
          required
        />
      </label>

      <label>
        Stock disponible
        <input
          type="number"
          name="stock"
          min="0"
          [(ngModel)]="product.stock"
        />
      </label>

      <label>
        Image du produit
        <input
          type="url"
          name="images"
          placeholder="https://exemple.com/image.jpg"
          [(ngModel)]="product.images"
        />
      </label>

      <img
        *ngIf="product.images"
        [src]="product.images"
        alt="Aperçu produit"
        class="preview-image"
      />

      <label>
        Attributs avancés JSON
        <textarea
          placeholder='Ex : {"brand":"Logitech","color":"noir"}'
          [(ngModel)]="product.attributes"
          name="attributes"
        ></textarea>
      </label>

      <button type="submit">Créer le produit</button>
    </form>

    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</section>